---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Admisión" id="admis">

  <!-- Contenido principal -->
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:flex md:justify-between">
    <img src="https://images.pexels.com/photos/8422104/pexels-photo-8422104.jpeg" class="w-full md:w-1/2 h-auto max-w-full mb-4 md:mb-0 md:mr-4 order-last md:order-first object-cover transition-all duration-500 ease-in-out transform hover:scale-105">
    <div class="w-full md:w-1/2 flex flex-col justify-center items-center">
      <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-1 transition-all duration-500 ease-in-out transform" id="buttonContainer">
        <a
          href="#admis"
          class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 transition-all duration-500 ease-in-out transform hover:scale-105"
          id="privacy-button"
        >
          <Icon name="mdi:alert" class="size-8" />
          <span>Aviso de privacidad</span>
        </a>
        <a
          href="#admis"
          class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 transition-all duration-500 ease-in-out transform hover:scale-105"
          id="preguntas-button"
        >
          <Icon name="mdi:account-question" class="size-8" />
          <span>Preguntas Frecuentes</span>
        </a>
        <a id="toggleFormButton" href="#" class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 transition-all duration-500 ease-in-out transform hover:scale-105">
          <Icon name="mdi:form" class="size-8" />
          <span>Formulario de aplicación</span>
        </a>
      </div>
      <form id="formulario" class="hidden mt-4 transition-all duration-500 ease-in-out transform scale-0" action="https://formsubmit.co/info@lyceesanjose.com" method="POST">
        <!-- Contenido de tu formulario -->
        <div class="flex flex-col items-center">
          <!-- Aquí va el contenido de tu formulario -->
          <label for="nombre" class="mb-2">Nombre del alumno:</label>
          <input type="text" id="nombre" name="name" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" style="color: black;">

          <label for="email" class="mb-2">Email del tutor:</label>
          <input type="email" id="email" name="email" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" style="color: black;">

          <label for="numero" class="mb-2">Número del tutor:</label>
          <input type="number" id="numero" name="numero" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" style="color: black;">

          <!-- Lista desplegable para el área de interés -->
          <label for="area" class="mb-2">Área de Interés:</label>
          <select id="area" name="area" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
            <option value="primaria">Primaria</option>
            <option value="secundaria">Secundaria</option>
          </select>

          <!-- Lista desplegable para la nacionalidad -->
          <label for="nacionalidad" class="mb-2">Nacionalidad del alumno:</label>
          <input type="text" id="nacionalidad" name="nacionalidad" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" style="color: black;">

            <!-- Agrega más opciones de nacionalidades según necesites -->

          <!-- Botón de enviar -->
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Enviar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Aviso de privacidad -->
  <div id="privacy-notice" class="hidden fixed top-0 left-0 w-full h-full bg-white p-4 overflow-y-auto">
    <h1 class="text-2xl font-bold text-center text-black">Aviso de Privacidad para la Protección de Datos Personales</h1><br>
    <p class="text-sm text-justify text-black">
      En términos de lo previsto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en lo sucesivo denominada como “la Ley”), Lycee de San Jose, institución de educación, establece el presente Aviso de Privacidad de conformidad con lo siguiente:
    </p><br>
    <h2 class="text-sm text-center text-black">Términos y Condiciones</h2><br>
    <ul class="list-disc list-inside text-sm text-justify text-black"> 
      <li>El presente Aviso de Privacidad tiene por objeto la protección de los datos personales de los integrantes de la institución (aspirantes, alumnos, egresados, personal directivo, personal docente y personal administrativo), mediante su tratamiento legítimo, controlado e informado, a efecto de garantizar su privacidad, así como tu derecho a la autodeterminación informativa.</li> 
      <li>Dato Personal es Cualquier información concerniente a una persona física identificada o identificable; el responsable de recabar los datos personales es el área de mercadotecnia (procesos de promoción e inscripción de alumnos); el área de administración escolar (una vez que los alumnos se hayan inscrito formalmente); y el área de recursos humanos (para personal directivo, docente y administrativo).</li> 
      <li>Al proporcionar tus Datos Personales por escrito, a través de una solicitud, formato en papel, formato digital, correo electrónico, o cualquier otro documento, aceptas y autorizas a Lycee de San José, utilizar y tratar de forma automatizada tus datos personales e información suministrados, los cuales formarán parte de nuestra base de datos con la finalidad de usarlos, en forma enunciativa, más no limitativa, para: identificarte, ubicarte, comunicarte, contactarte, enviarte información y/o bienes, así como para enviarlos y/o transferirlos a terceros, dentro y fuera del territorio nacional, por cualquier medio que permita la ley para cumplir con nuestros fines sociales.</li> 
      <li>Mediante la aceptación y autorización para el tratamiento de tus datos personales en los términos antes señalados, nos facultas expresamente a transferirlos a autoridades de cualquier nivel (Federales, Estatales, Municipales), organismos públicos y privados, diversas empresas y/o personas físicas, dentro y fuera de México, con el propósito de certificar tus estudios y competencias, así como para participar en sus procesos de selección de personal y aplicar a los diversos puestos de trabajo vacantes que éstas publiquen en nuestra Bolsa de Trabajo; y nos autorizas a poder emitir y entregar documentación oficial o no, a tus familiares y/o representantes legales.</li> 
      <li>La temporalidad del manejo de tus Datos Personales será indefinida a partir de la fecha en que nos los proporciones, pudiendo oponerte al manejo de los mismos en cualquier momento que lo consideres oportuno, con las limitaciones de Ley; en caso de que tu solicitud de oposición sea procedente, el Colegio Montreal dejará de manejar tus Datos Personales sin ninguna responsabilidad de nuestra parte. Quedan fuera de este supuesto las Bases de Datos referentes a las calificaciones y demás información académica de los alumnos, ex alumnos y egresados del Lycee de San José, y alumnos en movilidad o en intercambio provenientes de otras instituciones.</li> 
      <li>El área del Lycee de San José responsable del tratamiento de tus datos personales, está obligada a cumplir con los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad tutelados en la Ley; por tal motivo con fundamento en los artículos 13 y 14 de la Ley, la Bolsa de Trabajo se compromete a guardar estricta confidencialidad de tus datos personales, así como a mantener las medidas de seguridad administrativas, técnicas y físicas que permitan protegerlos contra cualquier daño, pérdida, alteración, acceso o tratamiento no autorizado.</li> 
      <li>En términos de lo establecido por el artículo 22 de la Ley, tienes derecho en cualquier momento a ejercer tus derechos de acceso, rectificación, cancelación y oposición (derechos ARCO) al tratamiento de tus datos personales a partir del 6 de enero del 2012, mediante la solicitud vía correo electrónico dirigido a Mtro. Emmanuel A. Hernández Muñoz al correo 
        <a href="mailto:rh@montreal.com.mx" class="underline text-black">rh@montreal.com.mx</a>, o al correo <a href="mailto:contacto@montreal.com.mx" class="underline">contacto@montreal.com.mx</a>; estableciendo como asunto del correo "Derechos ARCO” para proceder con la solicitud.</li> 
        <li>El Lycee de San José ocasionalmente modificará y corregirá este Aviso de Privacidad.</li> <li>El Lycee de San José protegerá tus Datos Personales en los términos de la Ley, y te comunicará los elementos contenidos en las fracciones del artículo 16 de la Ley.</li> 
        <li>El hecho de cubrir el pago de inscripción al Lycee de San José y seleccionar asignaturas, es un hecho que presume tu total aceptación al contenido del presente Aviso de Privacidad.</li> 
      </ul><br><br>
      <div class="flex justify-center"> <button id="accept-privacy" class="flex justify-center items-center bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Aceptar</button> </div><br><br>
  </div>

  <!-- Preguntas Frecuentes -->
  <div id="preguntas-notice" class="hidden fixed top-0 left-0 w-full h-full bg-white p-4 overflow-y-auto">
    <h1 class="text-2xl font-bold text-center text-black">Preguntas Frecuentes</h1><br>
    <h2 class="text-l font-bold text-center text-black"> ¿Cuándo puedo iniciar el proceso de admisión?</h2> <br>
    <p style="text-align: center; color: black;">Las familias pueden presentar solicitudes en cualquier momento durante el ciclo escolar, pero las solicitudes presentadas con anticipación a la fecha límite establecida, recibirán consideración prioritaria. Las solicitudes recibidas después de los plazos establecidos, serán consideradas como extemporáneas y estarán sujetas a espacio.
    </p><br>
    <h2 class="text-l font-bold text-center text-black"> ¿Cuáles son los requisitos para iniciar el proceso de admisión?</h2> <br>
      <ul style="text-align: left; margin-left: 40px; color: black">
        <li>1. Entrevista con la familia.</li>
        <li>2. Llenar la solicitud de ingreso.</li>
        <li>3. Envío de documentación completa.</li>
        <li>4. Revisión de la documentación por Dirección Académica (la cual debe de cumplir con los requisitos del colegio).</li>
        <li>5. Disponibilidad de espacio.</li>
      </ul><br>
    <h2 class="text-l font-bold text-center text-black"> ¿Cuál es la documentación que se necesita?</h2><br>
    <h3 class="text-M text-center text-black"> La documentación que se solicita por alumno (a) es la siguiente:</h3> <br>
      <ul style="text-align: left; margin-left: 40px; color: black;">
        <li>•	Certificado de nacimiento.</li>
        <li>•	CURP.</li>
        <li>•	Calificaciones oficiales de los últimos 3 años escolares (en caso de que aplique).</li>
        <li>•	Constancia de estudios del colegio actual.</li>
        <li>•	Carta de buena conducta del colegio actual.</li>
        <li>•	Carta de no adeudo del colegio actual (solo aplicable para escuelas privadas, la cual prueba de que todas las cuotas escolares previas han sido cubiertas).</li>
        <li>•	Identificación oficial de los padres/tutores.</li>
        <li>•	Comprobante de domicilio.</li>
        <li>•	Carta de recomendación y/o referencia de familia.</li>
        <li>•	Cartilla de vacunación actualizada (solo maternal y preescolar).</li>
        <li>•	Formatos de recomendación, los cuales deberán de ser llenados por la escuela actual del alumno (a) (a partir de 1° de primaria)</li>
      </ul><br>
      <h2 class="text-l font-bold text-center text-black"> ¿Cómo se decide la admisión en Lycée San José?</h2><br>
      <p style="text-align: center; color: black;">
        La admisión a Lycée San José se basa en la entrevista con la familia, la disponibilidad de espacio, una evaluación exitosa y la composición del expediente del alumno (a).

        Lycée San José busca estudiantes que se beneficien del programa de aprendizaje, que puedan aportar sus propios talentos, habilidades, imaginación y curiosidad a la comunidad escolar Lycée San José, además de familias que puedan fortalecer y estrechar lazos con la comunidad Lycée San José.
      </p><br>
      <h2 class="text-l font-bold text-center text-black"> ¿Existen grupos de espera?</h2><br>
      <p style="text-align: center; color: black;">
        Sí, tenemos estudiantes en lista de espera para muchos de nuestros grados. Los estudiantes que han realizado el proceso de admisión y que se consideran calificados se les puede pedir que se unan a la lista de espera debido a limitaciones de espacio. Los estudiantes en la lista de espera que no pueden ser admitidos en el ciclo en curso, tiene la opción de esperar y realizar el proceso de admisión para el siguiente año.
      </p><br>
      <h2 class="text-l font-bold text-center text-black"> ¿Cómo sé si mi hijo (a) ha sido aceptado (a)?</h2><br>
      <p style="text-align: center; color: black;">
        Después de que el alumno (a) presente las evaluaciones, la familia tendrá una entrevista de retroalimentación con un miembro de Dirección Académica, el cual les proporcionará los resultados de las evaluaciones y les entregará el formato de registro para continuar con el proceso de admisión, en caso de ser aceptado (a).
      </p><br>
      <h2 class="text-l font-bold text-center text-black"> Mi hijo (a) ha sido aceptado (a), ¿Qué proceso sigue?</h2><br>
      <p style="text-align: center; color: black;">
        Si el estudiante ha sido aceptado (a), la familia tendrá 2 semanas para cubrir las cuotas de inscripción para poder asegurar su espacio.
      </p><br>
      <h2 class="text-l font-bold text-center text-black"> ¿Qué pasa si mi hijo (a) no fue aceptado (a)?</h2><br>
      <p style="text-align: center; color: black;">
        Si su hijo (a) no fue aceptado (a), el colegio notificará la decisión y los motivos de ésta.
      </p><br>
      <div class="flex justify-center"> <button id="accept-preguntas" class="flex justify-center items-center bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Aceptar</button> </div><br><br>
  </div>

  <!-- Script -->
  <script>
    const toggleForm = (event) => {
      event.preventDefault();
      const form = document.getElementById('formulario');
      const buttonContainer = document.getElementById('buttonContainer');
      if (form && buttonContainer) {
        form.classList.toggle('hidden');
        form.classList.toggle('scale-105');
        form.style.transition = 'transform 0.9s ease-in-out';
      }
    }

    const toggleFormButton = document.getElementById('toggleFormButton');
    if (toggleFormButton) {
      toggleFormButton.addEventListener('click', toggleForm);
    }

    const privacyButton = document.getElementById('privacy-button');
    const privacyNotice = document.getElementById('privacy-notice');
    const acceptButton = document.getElementById('accept-privacy');

    privacyButton.addEventListener('click', () => {
      privacyNotice.classList.remove('hidden');
    });

    acceptButton.addEventListener('click', () => {
      privacyNotice.classList.add('hidden');
    });

    // Script Preguntas Frecuentes

    const preguntasButton = document.getElementById('preguntas-button');
    const preguntasNotice = document.getElementById('preguntas-notice');
    const acceptoButton = document.getElementById('accept-preguntas');

    preguntasButton.addEventListener('click', () => {
      preguntasNotice.classList.remove('hidden');
    });

    acceptoButton.addEventListener('click', () => {
      preguntasNotice.classList.add('hidden');
    });
  </script>

  <!-- Agrega estilos CSS para que el aviso de privacidad sea responsive -->
  <style>
#privacy-notice {
  /* ... */
  position: fixed; /* fija el popup en la pantalla */
  width: 800px; /* establece un ancho fijo para el popup */
  height: 600px; /* establece una altura fija para el popup */
  margin: 50px auto; /* agrega un margen para que se vea bien */
  border-radius: 10px; /* agrega un borde redondeado */
  left: 50%; /* centra el popup horizontalmente */
  top: 50%; /* centra el popup verticalmente */
  transform: translate(-50%, -50%); /* centra el popup vertical y horizontalmente */
  background-color: white; /* establece un fondo blanco para el popup */
  padding: 20px; /* agrega un padding para que se vea bien */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* agrega una sombra para que se vea bien */
}

    @media (max-width: 768px) {
      #privacy-notice {
        max-width: 90%; /* ajusta el ancho máximo para pantallas pequeñas */
      }
    }
#preguntas-notice {
  /* ... */
  position: fixed; /* fija el popup en la pantalla */
  width: 800px; /* establece un ancho fijo para el popup */
  height: 600px; /* establece una altura fija para el popup */
  margin: 50px auto; /* agrega un margen para que se vea bien */
  border-radius: 10px; /* agrega un borde redondeado */
  left: 50%; /* centra el popup horizontalmente */
  top: 50%; /* centra el popup verticalmente */
  transform: translate(-50%, -50%); /* centra el popup vertical y horizontalmente */
  background-color: white; /* establece un fondo blanco para el popup */
  padding: 20px; /* agrega un padding para que se vea bien */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* agrega una sombra para que se vea bien */
}

    @media (max-width: 768px) {
      #preguntas-notice {
        max-width: 90%; /* ajusta el ancho máximo para pantallas pequeñas */
      }
    }
  </style>

</ContentSection>