---
import CompatibilityList from "~/components/arts-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const arts: Array<CompatibilityItem> = [
  {
    title: "Orquesta",
    icon: "arts/orquesta",
    url: "",
  },
  {
    title: "Coro",
    icon: "arts/coro",
    url: "",
  },
  {
    title: "Teatro",
    icon: "arts/teatro",
    url: "",
  },
  {
    title: "Danza",
    icon: "arts/danza",
    url: "",
  },
  {
    title: "Talleres de Arte",
    icon: "arts/talleres",
    url: "",
  },
  {
    title: "Estudio de fotografía",
    icon: "arts/fotografia",
    url: "",
  },
  {
    title: "Gastronomía",
    icon: "arts/gastronomia",
    url: "",
  },
];

---

<ContentSection title="Art Life" id="arts">
  <Fragment slot="lead">
    Expresa <span class="text-primary">tus sentimientos</span> y {" "}
    <span class="text-primary">abre nuevos </span>
    horizontes<span class="text-primary"></span>
</Fragment>
  <CompatibilityList
    items={arts}
    title="Art Life"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
