---
import { Icon } from "astro-icon/components";
import { AstroError } from "node_modules/astro/dist/core/errors";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Cultura",
    background: "https://revistavive.com/wp-content/uploads/2016/08/Kids-Changing-the-World-c2e7f35f.jpg",
  },
  {
    title: "Arte",
    background: "https://centroculturalsanchinarro.com/web/wp-content/uploads/2015/03/artes-plasticas-ni%C3%B1os.jpg",
  },
  {
    title: "Deportes",
    background: "https://s1.elespanol.com/2023/06/04/castilla-y-leon/deportes/768933416_233688515_1706x960.jpg",
  },
  {
    title: "Servicio Comunitario",
    background: "https://us.123rf.com/450wm/itchaznong/itchaznong2307/itchaznong230709180/208154880-j%C3%B3venes-voluntarios-asi%C3%A1ticos-con-bolsas-de-basura-limpiando-el-%C3%A1rea-del-parque-ecolog%C3%ADa-concepto.jpg?ver=6",
  },
];
---

<ContentSection title="C.A.D.S" id="cass">
  <Fragment slot="lead">
    Proporcionamos a los estudiantes 
    <span class="text-primary">experiencias en diversas áreas </span>
    para promover su desarrollo holístico, 
    <span class="text-primary">formar individuos bien preparados </span>
    y equilibrados <span class="text-primary">.</span>
</Fragment>

  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
    {
      features.map(({ title, background }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6" style={`background-image: url('${background}'); background-size: cover; background-position: center;`}>
          <div class="size-16 rounded-full border-0 border-current p-10">
          </div>
          <p class="text-center font-extrabold text-xl" style="color: rgb(0, 10, 65);text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);">{title}</p>

        </li>
      ))
    }
  </ul>
</ContentSection>
