---
import { Icon } from "astro-icon/components";
import { AstroError } from "node_modules/astro/dist/core/errors";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Cultura",
    background: "https://revistavive.com/wp-content/uploads/2016/08/Kids-Changing-the-World-c2e7f35f.jpg",
  },
  {
    title: "Arte",
    background: "https://images.pexels.com/photos/1518836/pexels-photo-1518836.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
  {
    title: "Deportes",
    background: "https://images.pexels.com/photos/15874977/pexels-photo-15874977/free-photo-of-jugando-deporte-pelota-bola.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
  {
    title: "Servicio Comunitario",
    background: "https://img.freepik.com/foto-gratis/ninos-caja-donacion_23-2148480283.jpg?t=st=1712942722~exp=1712946322~hmac=007a4fc838202d6d00156d4f79d527e060ee2e7ac4a48e68baaa7c71ea2bbeff&w=740",
  },
];
---

<ContentSection title="C.A.D.S" id="cass">
  <Fragment slot="lead">
    Proporcionamos a los estudiantes 
    <span class="text-primary">experiencias en diversas áreas </span>
    para promover su desarrollo holístico, 
    <span class="text-primary">formar individuos bien preparados </span>
    y equilibrados <span class="text-primary">.</span>
</Fragment>

  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    {
      features.map(({ title, background }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6" style={`background-image: url('${background}'); background-size: cover; background-position: center;`}>
          <div class="size-16 rounded-full border-0 border-current p-10">
          </div>
          <p class="text-center font-extrabold text-xl" style="color: rgb(207, 178, 14);">{title}</p>

        </li>
      ))
    }
  </ul>
</ContentSection>
