---
import { Icon } from "astro-icon/components";
import { AstroError } from "node_modules/astro/dist/core/errors";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Cultura",
    background: "https://revistavive.com/wp-content/uploads/2016/08/Kids-Changing-the-World-c2e7f35f.jpg",
  },
  {
    title: "Arte",
    background: "https://centroculturalsanchinarro.com/web/wp-content/uploads/2015/03/artes-plasticas-ni%C3%B1os.jpg",
  },
  {
    title: "Deportes",
    background: "https://s1.elespanol.com/2023/06/04/castilla-y-leon/deportes/768933416_233688515_1706x960.jpg",
  },
  {
    title: "Servicio Comunitario",
    background: "https://us.123rf.com/450wm/itchaznong/itchaznong2307/itchaznong230709180/208154880-j%C3%B3venes-voluntarios-asi%C3%A1ticos-con-bolsas-de-basura-limpiando-el-%C3%A1rea-del-parque-ecolog%C3%ADa-concepto.jpg?ver=6",
  },
];
---

<ContentSection title="C.A.D.S" id="cass" class="py-12 px-6 bg-gradient-to-r from-blue-500 to-blue-900 rounded-lg shadow-lg">
  <Fragment slot="lead">
    <p class="text-center text-lg md:text-xl font-medium leading-relaxe">
      Proporcionamos a los estudiantes 
      <span class="text-primary font-semibold">experiencias en diversas áreas</span>
      para promover su desarrollo holístico, 
      <span class="text-primary font-semibold">formar individuos bien preparados</span>
      y equilibrados.
    </p>
  </Fragment>

  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mx-auto mt-10">
    {
      features.map(({ title, background }) => (
        <li class="relative flex flex-col items-center justify-center p-6 rounded-lg overflow-hidden shadow-md transition-transform transform hover:scale-105" style={`background-image: url('${background}'); background-size: cover; background-position: center;`}>
          <div class="absolute inset-0 bg-black bg-opacity-50 rounded-lg"></div>
          <p class="relative z-10 text-center text-2xl font-bold tracking-wide drop-shadow-lg text-black dark:text-white">
            {title}
          </p>
        </li>
      ))
    }
  </ul>
</ContentSection>
