---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Cultura",
    background: "/src/content/showcase/_images/Cultura.jpg",
  },
  {
    title: "Arte",
    background: "/src/content/showcase/_images/Arte.jpg",
  },
  {
    title: "Deportes",
    background: "/src/content/showcase/_images/Deporte.jpg",
  },
  {
    title: "Servicio Comunitario",
    background: "/src/content/showcase/_images/ServSoc.jpg",
  },
];
---

<ContentSection title="C.A.D.S" id="cass">
  <Fragment slot="lead">
    Proporcionamos a los estudiantes 
    <span class="text-primary">experiencias en diversas áreas </span>
    para promover su desarrollo holístico, 
    <span class="text-primary">formar individuos bien preparados </span>
    y equilibrados <span class="text-primary">.</span>
</Fragment>

  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    {
      features.map(({ title, background }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6" style={`background-image: url('${background}'); background-size: cover; background-position: center;`}>
          <div class="size-16 rounded-full border-0 border-current p-10">
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
