---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="¿Why are we born??" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead" class="text-lg md:text-xl lg:text-2xl xl:text-3xl">
    <div class="md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto">
      We are obsessed with the need to educate all areas of the human being, not only the mind but also the body, soul, and spirit; the
      <span class="text-primary">LYCÉE DE SAN JOSÉ </span>aims to develop all areas of students using the best
       <span class="text-primary">International Education System,</span> the best sports programs, as well as humanitarian and social programs.
    </div>
</Fragment>

  <!--/Fragment>
  <div-- class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div-->
</ContentSection>


