---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="SOMOS UN RETO" id="reto">
  <Fragment slot="lead" class="text-lg md:text-xl lg:text-2xl xl:text-3xl">
      En cada paso los estudiantes deberán de tomar la iniciativa y asumir  
      <span class="text-primary">responsabilidades </span> de liderazgo en  grupos de oratoria publica,  
       <span class="text-primary"> en el desarrollo de sus capacidades físicas </span> y psicológicas.
</Fragment>

  <!--/Fragment>
  <div-- class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div-->
</ContentSection>


