---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="WE ARE A CHALLENGE" id="reto">
  <Fragment slot="lead" class="text-lg md:text-xl lg:text-2xl xl:text-3xl">
      In each step, students should take the initiative and assume leadership
      <span class="text-primary">responsibilities </span> in public speaking groups and in the 
       <span class="text-primary">development of their physical and</span> psychological abilities.
</Fragment>

  <!--/Fragment>
  <div-- class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div-->
</ContentSection>


