---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="SOMOS UN RETO" id="reto">
  <Fragment slot="lead">
    <p class="text-center text-lg md:text-xl font-medium leading-relaxe">
      En cada paso, los estudiantes deberán tomar la iniciativa y asumir responsabilidades de liderazgo en grupos de oratoria pública, 
      <span class="text-primary font-semibold">desarrollando sus capacidades físicas y psicológicas.</span>
    </p>
  </Fragment>
</ContentSection>


