---
---

<section class="bg-blue-100 py-16">
    <div class="max-w-7xl mx-auto px-6 text-center">
      <h1 class="text-4xl font-extrabold mb-12">Nuestros Valores</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        <div class="flex flex-col items-center bg-white shadow-lg rounded-xl p-6">
          <img src="/img/Valores/Integridad.jpg" alt="Integridad" class="w-32 h-32 rounded-full mb-6 shadow-md">
          <p class="text-xl font-semibold text-gray-900">Integridad</p>
          <p class="text-gray-700 text-base text-center">Fomentamos la honestidad y la responsabilidad en cada uno de nuestros alumnos.</p>
        </div>
        <div class="flex flex-col items-center bg-white shadow-lg rounded-xl p-6">
          <img src="/img/Valores/Fraternidad.jpg" alt="Fraternidad" class="w-32 h-32 rounded-full mb-6 shadow-md">
          <p class="text-xl font-semibold text-gray-900">Fraternidad</p>
          <p class="text-gray-700 text-base text-center">Promovemos un ambiente de respeto, unión y colaboración entre estudiantes.</p>
        </div>
        <div class="flex flex-col items-center bg-white shadow-lg rounded-xl p-6">
          <img src="/img/Valores/Espritualidad.jpg" alt="Espiritualidad" class="w-32 h-32 rounded-full mb-6 shadow-md">
          <p class="text-xl font-semibold text-gray-900">Espiritualidad</p>
          <p class="text-gray-700 text-base text-center">Desarrollamos valores y principios que enriquecen el alma y la mente.</p>
        </div>
        <div class="flex flex-col items-center bg-white shadow-lg rounded-xl p-6">
          <img src="/img/Valores/Conciencia.jpg" alt="Conciencia Social" class="w-32 h-32 rounded-full mb-6 shadow-md">
          <p class="text-xl font-semibold text-gray-900">Conciencia Social</p>
          <p class="text-gray-700 text-base text-center">Inculcamos el compromiso de contribuir positivamente a la sociedad.</p>
        </div>
        <div class="flex flex-col items-center bg-white shadow-lg rounded-xl p-6">
          <img src="/img/Valores/Excelencia.jpg" alt="Excelencia" class="w-32 h-32 rounded-full mb-6 shadow-md">
          <p class="text-xl font-semibold text-gray-900">Excelencia</p>
          <p class="text-gray-700 text-base text-center">Buscamos siempre la superación académica y personal de nuestros estudiantes.</p>
        </div>
        <div class="flex flex-col items-center bg-white shadow-lg rounded-xl p-6">
          <img src="/img/Valores/Progreso.jpg" alt="Progreso" class="w-32 h-32 rounded-full mb-6 shadow-md">
          <p class="text-xl font-semibold text-gray-900">Progreso</p>
          <p class="text-gray-700 text-base text-center">Impulsamos el crecimiento y la innovación en cada área del conocimiento.</p>
        </div>
      </div>
    </div>
</section>
